
html {
	background-color: black;
	cursor: url("assets/UI/mouse-pointer.png"), auto;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hud {
	position: absolute;
	display: flex;
	top: 75%;
	left: 25%;
	width: 50%;
	height: 25%;

	align-items: center;
	flex-direction: row;
	justify-content:stretch;
}

.hpList {
	display: flex;

	width: 100%;
	height: 100%;

	align-items: stretch;
	flex-direction: row;
	justify-content: space-around;;
}

#hpListEnemy, #hpListHero {
	flex-grow: 2.5;
}
#actionList {
	flex-grow: 1;
}

#logChat {
	position: absolute;
	left: 25%;
	width: 50%;
	top: 2%;
	max-height: 15%;
}

.infoGame {
	background-color: rgb(42, 42, 224);
	position: absolute;

	min-height: 10%;
	white-space: pre-wrap;
	border: 1px;
	border-color: white;
	border-width: medium;
	border-style: solid;
	border-radius: 3%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	color: aliceblue;
	text-align: center;
  	text-decoration: none;
	font-family: fantasy;
	font-size: 16px;
}

#hpListEnemy, #hpListHero, #actionList {

	background-color: rgb(42, 42, 224);

	border: 1px;
	border-color: white;
	border-width: medium;
	border-style: solid;
	border-radius: 1%;

	margin-top: 1%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#actionList {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
}

#actionList input[type=button], #actionList p {
	border: none;
	background-color:rgb(42, 42, 224);
	color: aliceblue;
	text-align: center;
  	text-decoration: none;
	transition: all 0.3s ease;
	font-family: fantasy;
	font-size: 16px;
}

#hpListEnemy p, #hpListHero p {
	color: aliceblue;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	transition: all 0.3s ease;
	font-family: fantasy;
}

#hpListEnemy p:hover, #hpListHero p:hover, #actionList input[type=button]:hover {
	color: rgb(12, 38, 61);
}

#hpListEnemy p:active, #hpListHero p:active, #actionList input[type=button]:active {
	color: rgb(245, 43, 43);
}

#info {
	display: flex;
	align-items: center;
	flex: row;
	justify-content: space-between;
}